* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

main .contenedore_principal img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 10px; }

main .contenedore_principal h3 {
  text-align: center;
  color: grey; }

main {
  background-image: url(/src/img/fondobody.jpeg);
  /* CONTACT INFO */ }
  main h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #707070d5; }
  main .contenedor_slide {
    width: 100;
    height: 80vh;
    margin: 0;
    overflow: hidden; }
    main .contenedor_slide ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: cambio 15s infinite;
      animation-direction: alternate; }
    main .contenedor_slide li {
      width: 200%;
      list-style: none; }
    main .contenedor_slide img {
      width: 100%;
      height: 100%; }
    main .contenedor_slide h2 {
      text-align: center;
      color: #707070d5; }
  main #temporada {
    padding: 30px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center; }
    main #temporada img {
      height: 30VH;
      width: 20vh;
      border-radius: 40%; }
    main #temporada div {
      padding: 5px 10px; }
    main #temporada h4 {
      color: #59d8f8;
      padding: 10px;
      font-size: 20px; }
    main #temporada p {
      font-size: 16px;
      color: #707070d5; }
    main #temporada .boton-temporada {
      display: inline-block;
      text-decoration: none;
      color: black;
      padding: 10px 30px;
      border: 2px solid #59d8f8;
      border-radius: 30px;
      margin-top: 20px;
      cursor: pointer;
      transition: all 0.3s; }
      main #temporada .boton-temporada:hover {
        background-color: rgba(4, 4, 4, 0.734);
        color: #59d8f8; }
  main #servicios {
    padding: 10px 50px;
    background-color: rgba(106, 100, 100, 0.392); }
    main #servicios .contenedor-servicios {
      padding: 50px 50px 0px 50px;
      display: flex;
      justify-content: space-between;
      text-align: center; }
      main #servicios .contenedor-servicios i {
        cursor: pointer; }
        main #servicios .contenedor-servicios i:hover {
          color: #59d8f8; }
      main #servicios .contenedor-servicios div {
        flex: 1;
        margin: 20px 0px;
        border-right: 2px solid #55595a; }
      main #servicios .contenedor-servicios #icono-atencion {
        border: none; }
      main #servicios .contenedor-servicios h6 {
        color: grey;
        font-size: 15px;
        font-weight: 150;
        margin: 10px 0px; }
  main .contenedorform {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
  main ul {
    list-style: none;
    padding: 0; }
  main .logo_form {
    text-align: center;
    font-size: 3em;
    padding: 15px; }
  main .contact-wrapper {
    box-shadow: 0 0 20px 0 #55595a; }
  main .contact-wrapper > * {
    padding: 1em; }
  main .contact-form {
    background: #22222220; }
  main .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  main .contact-form form label {
    display: block; }
  main .contact-form form p {
    margin: 0;
    padding: 1em; }
  main .contact-form form .block {
    grid-column: 1 / 3; }
  main .contact-form form button,
  main .contact-form form input,
  main .contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #030303;
    border-bottom: 1px solid #59d8f8; }
  main .contact-form form button {
    background: #55595a;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer; }
  main .contact-form form button:hover,
  main .contact-form form button:focus {
    background: #59d8f8;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0; }
  main .contact-info {
    background: rgba(118, 113, 113, 0.412); }
  main .contact-info h4, main .contact-info ul, main .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0; }
  main .contenedor-nosotros {
    display: block;
    justify-content: center;
    align-items: center; }
    main .contenedor-nosotros .parrafo-nosotos {
      display: flex;
      justify-content: center;
      text-align: center; }
  main section .imgnosotro {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px; }
    main section .imgnosotro img {
      height: 30vh;
      border-radius: 20%; }
  main .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 100%;
    padding: 10px;
    grid-gap: 10px; }
  main .gallery__mujer {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .gallery__1 {
    margin: 10px;
    padding: 30px; }
  main .gallery__hombre {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px; }
  main #comprar {
    padding: 30px;
    display: flex;
    justify-content: center; }
    main #comprar button {
      width: 900%;
      height: 50px;
      color: #59d8f8;
      padding: 10px;
      background-color: #55595a;
      border-radius: 20px;
      font-size: 15px; }
      main #comprar button:hover {
        color: #11121b;
        background-color: #59d8f8; }
  main .maps {
    display: flex;
    justify-content: center;
    padding: 20px; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -150%; }
  45% {
    margin-left: -150%; }
  50% {
    margin-left: -300%; }
  70% {
    margin-left: -300%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

footer {
  background-color: #383737;
  color: #c0b7b7; }
  footer p {
    display: flex;
    justify-content: end;
    align-items: center; }
  footer .contenedor_iconfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    footer .contenedor_iconfooter img {
      height: 20px;
      width: 10;
      margin: 10px; }
      footer .contenedor_iconfooter img:hover {
        background-color: #59d8f8;
        border-radius: 10px; }

nav {
  background-color: #383737;
  width: 100%;
  height: 14vh;
  margin: 0;
  color: #c0b7b7;
  box-sizing: 0; }
  nav .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%; }
  nav .nav__label, nav .nav__input {
    display: none; }
  nav .nav__logo {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    margin: 10px; }
    nav .nav__logo:hover {
      color: #59d8f8; }
  nav img {
    width: 100%;
    height: 40px;
    margin: 0; }
  nav .nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    margin: 0; }
  nav .nav__link {
    color: #c0b7b7;
    text-decoration: none; }
    nav .nav__link:hover {
      color: #59d8f8; }

@media screen and (max-width: 768px) {
  nav .nav__label {
    display: block;
    cursor: pointer; }
  nav .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  nav .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
    background-color: #55595a; }
  main #temporada {
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 50%; }
    main #temporada h4 {
      font-size: 18px; }
    main #temporada p {
      font-size: 15px; }
  main .contenedor_principal .contenedor_slide {
    width: 50;
    height: 50vh;
    margin: 0;
    overflow: hidden; }
  main .contenedor_principal h2 {
    color: #59d8f8;
    padding: 5px; }
  main #servicios .contenedor-servicios {
    flex-direction: column; }
    main #servicios .contenedor-servicios div {
      border: none; }
  main .gallery-container {
    grid-template-columns: repeat(2, 4fr);
    grid-auto-rows: 50%; }
  main .gallery__hombre {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .gallery__mujer {
    width: 100%;
    height: 100%;
    object-fit: cover; } }
