main{
    background-image: url(/src/img/fondobody.jpeg);
    .nav{
      
    }
    
    h2{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 20px;
        color:$background-texto;
      
    }
    
    .contenedor_slide{

        width: 100;
        height: 80vh;
        margin: 0;
        overflow: hidden;
    
        
    

        ul{
           
            display: flex;
            padding: 0;
            width: 400%;
            animation: cambio 15s infinite;
            animation-direction: alternate;
           
        }
        li{
            width: 200%;
            list-style: none;
        }
        img{
            width: 100%;
            height: 100%;
        }
      
      h2{
        text-align: center;
        color:$background-texto;
      }
    }

    
   
    //TEMPORADA
#temporada{
    padding: 30px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
img{
   height: 30VH;
    width: 20vh;
    border-radius: 40%;

}

div{
padding: 5px 10px;
}

h4{
    color: $color-fondo;
    padding: 10px;
    font-size: 20px;
}

p{
    font-size: 16px;
    color:$background-texto;
}
.boton-temporada{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    border: 2px solid $color-fondo;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
        background-color: rgba(4, 4, 4, 0.734);
        color: $color-fondo;
    }
}

} 

//servicios

#servicios{

    padding: 10px 50px;
    background-color:rgba(106, 100, 100, 0.392);
  
    
   
    .contenedor-servicios{
        padding: 50px 50px 0px 50px;
        display: flex;
        justify-content: space-between;
        text-align: center;
   
       i{
        cursor: pointer;
        &:hover{
            color:$color-fondo;
        }
       }

        div{
            flex: 1;
            margin: 20px 0px;
            border-right: 2px solid $colortex-general;
        }

        #icono-atencion{
            border: none;
        }
        h6{
  @include texto-servicios;
        }
        
    }

}

//form
.contenedorform {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo_form {
    text-align: center;
    font-size: 3em;
    padding: 15px;
}



.contact-wrapper {
    box-shadow: 0 0 20px 0 $colortex-general;
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #22222220;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: rgb(3, 3, 3);
    border-bottom: 1px solid $color-fondo;
}

.contact-form form button {
    background: $colortex-general;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
  
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: $color-fondo;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: rgba(118, 113, 113, 0.412);
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

//nosotros

.contenedor-nosotros{

    display: block;
    justify-content: center;
    align-items: center;

    .parrafo-nosotos{
        display: flex;
        justify-content: center;
        text-align: center;
     
        
       
    }
    
}
section{

    .imgnosotro{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 10px;

        img{
            height: 30vh;
           
            border-radius: 20%;
            
        }
       
    }
}
//primaveraverano
.gallery-container{
        
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 100%;
    padding: 10px;
    grid-gap: 10px;
}
.gallery__mujer{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__1{
  
        margin: 10px;
        padding: 30px;
   
}

.gallery__hombre{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
#comprar{
    padding: 30px;
    display: flex;
    justify-content: center;


    button{
        width: 900%;
        height: 50px;
        color: $color-fondo;
        padding: 10px;
    
        
        background-color:$colortex-general;
        border-radius: 20px;
        font-size: 15px;
        &:hover{
            color:$colortex-parrafo;
            background-color: $color-fondo;
        }
    }
}

.maps{

    display: flex;
    justify-content: center;
    padding: 20px;
}
//button{
    //@include button-gallery;
//}



}

  
    


@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -150%;}
    45% {margin-left: -150%;}

    50% {margin-left: -300%;}
    70% {margin-left: -300%;
    }
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}